#poisk{
    position: absolute;
    width: 223px;
    height: 20px;
    margin-top: 15px;
    margin-left: 44%;
    outline: none;
    font: normal 11px 'trebuchet MS', arial, helvetica;
    border-width: 1px;
    border-color:#c3c3c3;
    border-style: solid;
    color:#707070;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
}
#gopoisk{
    background: #c3c3c3;
    position: absolute;
    width: 37px;
    height: 20px;
    margin-left: 56%;
    margin-top: 15px;
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background-image: -moz-linear-gradient(#dce0db, #c3c3c3);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #c3c3c3),color-stop(1, #dce0db));
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.0), 0 1px 0 rgba(255, 255, 255, 0.0) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px; 
}

#gopoisk:hover{
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background: #dce0db;
    background-image: -moz-linear-gradient(#dce0db, #dce0db);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dce0db),color-stop(1, #c3c3c3));
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
}

#gopoisk:active{
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background: #dce0db;
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
}
