#formRegistration{
    width: 350px;
    /*border: 1px solid #000;*/
    margin: 0px 30px 0px auto;
}
#loginreg{
    width: 290px;
    height: 30px;
    /*margin-left: 648px;*/
    margin-top: 30px;
    border-color:#c3c3c3;
    border-style: solid;
    outline: none;
    font: 15px 'trebuchet MS', arial, helvetica;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
}
#namereg{
    width: 290px;
    height: 30px;
    /*margin-left: 648px;*/
    margin-top: 20px;
    border-color:#c3c3c3;
    border-style: solid;
    outline: none;
    font: 15px 'trebuchet MS', arial, helvetica;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
}
#surnamereg{
	width: 290px;
        height: 30px;
        /*margin-left: 648px;*/
        margin-top: 20px;
	border-color:#c3c3c3;
        border-style: solid;
	outline: none;
	font: 15px 'trebuchet MS', arial, helvetica;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
}
#agereg{
	width: 290px;
        height: 30px;
        /*margin-left: 648px;*/
        margin-top: 20px;
	border-color:#c3c3c3;
        border-style: solid;
	outline: none;
	font: 15px 'trebuchet MS', arial, helvetica;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
}
#passreg{
	width: 290px;
        height: 30px;
        /*margin-left: 648px;*/
        margin-top: 20px;
	border-color:#c3c3c3;
        border-style: solid;
	outline: none;
	font: 15px 'trebuchet MS', arial, helvetica;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
}
#repassreg{
	width: 290px;
        height: 30px;
        /*margin-left: 648px;*/
        margin-top: 20px;
	border-color:#c3c3c3;
        border-style: solid;
	outline: none;
	font: 15px 'trebuchet MS', arial, helvetica;
	-moz-border-radius: 5px 5px;
	-webkit-border-radius: 5px 5px;
}

#addaccreg{
	width: 130px;
        height: 30px;
        margin-left: 70px;
        margin-top: 20px;
	font: 15px 'trebuchet MS', arial, helvetica;
	-moz-border-radius: 4px 4px;
	-webkit-border-radius: 4px 4px;
	background-image: -moz-linear-gradient(#dce0db, #c3c3c3);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #c3c3c3),color-stop(1, #dce0db));
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.0), 0 1px 0 rgba(255, 255, 255, 0.0) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

#addaccreg:hover{
	font: 15px 'trebuchet MS', arial, helvetica;
	background: #dce0db;
	background-image: -moz-linear-gradient(#dce0db, #dce0db);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dce0db),color-stop(1, #c3c3c3));
	-moz-border-radius: 4px 4px;
	-webkit-border-radius: 4px 4px;
}
