body {
	margin:0;
	padding:0;

}

#tabl{
	width: 1000px;
}

#ipanel{
    height:50px;
    background:url('../pic/gulol.jpg');
      
    
}

#loginpass{
    position: absolute;
    width: 150px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
    outline: none;
    font: normal 11px 'trebuchet MS', arial, helvetica;
    border-width: 1px;
    border-color:#c3c3c3;
    border-style: solid;
    color:#707070;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
}

#loginpass2{
    position: absolute;
    width: 150px;
    height: 20px;
    margin-top: 15px;
    margin-left: 170px;
    outline: none;
    font: normal 11px 'trebuchet MS', arial, helvetica;
    border-width: 1px;
    border-color:#c3c3c3;
    border-style: solid;
    color:#707070;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
} 

#go{
    background: #c3c3c3;
    position: absolute;
    width: 37px;
    height: 20px;
    margin-left: 328px;
    margin-top: 15px;
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background-image: -moz-linear-gradient(#dce0db, #c3c3c3);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #c3c3c3),color-stop(1, #dce0db));
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.0), 0 1px 0 rgba(255, 255, 255, 0.0) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px; 
}

#go:hover{
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background: #dce0db;
    background-image: -moz-linear-gradient(#dce0db, #dce0db);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dce0db),color-stop(1, #c3c3c3));
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
}

#go:active{
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background: #dce0db;
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
}

