#podval{
	height: 40px;
	width: 378px;
	margin: 0px auto 0px auto;
	/*border: solid 1px;*/
}
#about{
	color: #63c2ff;
	font: 13px 'trebuchet MS', arial, helvetica;
	text-decoration: none;
}
#about:hover{text-decoration: underline;}
#about:visited{color: #63c2ff;}
#rule{
	color: #63c2ff;
	font: 13px 'trebuchet MS', arial, helvetica;
	text-decoration: none;
}
#rule:hover{text-decoration: underline;}
#rule:visited{color: #63c2ff;}
#news{
	color: #63c2ff;
	font: 13px 'trebuchet MS', arial, helvetica;
	text-decoration: none;
}
#news:hover{text-decoration: underline;}
#news:visited{color: #63c2ff;}
#predlogi{
	color: #63c2ff;
	font: 13px 'trebuchet MS', arial, helvetica;
	text-decoration: none;
}
#predlogi:hover{text-decoration: underline;}
#predlogi:visited{color: #63c2ff;}
#lang{
	color: #63c2ff;
	font: 13px 'trebuchet MS', arial, helvetica;
	text-decoration: none;
}
#lang:hover{text-decoration: underline;}
#lang:visited{color: #63c2ff;}
#copy{
    color: #000000;
    font: 15px 'trebuchet MS', arial, helvetica;
}











